[submodule "backend/thirdparty/cwalk"]
	path = backend/thirdparty/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "backend/thirdparty/fmt"]
	path = backend/thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "backend/thirdparty/cpp-httplib"]
	path = backend/thirdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "backend/thirdparty/json"]
	path = backend/thirdparty/json
	url = https://github.com/nlohmann/json.git
