[Unit]
Description=Web Based UVC Control Driver for the DeepWater Exploration exploreHD and HDCam.

[Service]
Type=simple
TimeoutStartSec=0
Restart=always
ExecStart=/bin/sh -c 'export DWE_RELEASE=true; /opt/DWE_OS_2/run_release.sh'

[Install]
WantedBy=multi-user.target