/* descent-override should be added exclusively to the imported version. */
@font-face {
  font-family: 'HelveticaNeueLight';
  font-display: swap;
  src: url(./fonts/HelveticaNeueLTStd-Lt.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
  descent-override: 0%;
}

/* Local version */
@font-face {
  font-family: "font-primary-local";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue Bold");
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: inherit;
}
